body {
  background: #ecf0f1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  margin-bottom: 80px;
}
header>h1{
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 4em;
  color: brown;
  margin-top: 40px;
  text-decoration-line: none;
}

#logout-btn{
  color: #ffffff;
}

.container{
  border: 10px solid rgba(165, 42, 42, 0.541); 
  max-width: 1000px;
  margin: 100px auto 0 auto;
  border-top-style: double;
  border-right-style: solid;
  border-bottom-style: double;
  border-left-style: solid;
}

h1 {
  color: #e74c3c;
  color: rgb(50, 50, 50);
  margin-bottom: 60px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  text-decoration-line: underline;
}

.welcome{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: center;
font-size: 40px;
}

.loginNext{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;
  text-align: center;
}
header{
  border-bottom: 1px solid black; 
}

header>h1{
  text-align: center;
}

main {
  padding: 10px 20px; 
}

.error{
  color: #e74c3c;
  font-family: serif;
  font-size: 20px;
}

.title{
  text-align: center;
  color: rgb(50, 50, 50);
  font-family: serif;
}

.content{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hidden {
  display: none;
}

main{
  background-color: rgba(199, 193, 193, 0.144);
  margin: 10px;
  border-radius: 20px;
  font-size: 20px;
}

#btn-journal{
  font-family: serif;
  font-size: 32px;
  margin-left: 10px;
}
#btn-journal:hover{
  color: brown;
  font-size: 33px;;
}

.registerLogin{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 40px;
  padding: 20px;
  text-align: center;
}

#loginForm{
  padding: 20px;
  text-align: center;
}
#registerForm{
  padding: 20px;
  text-align: center;
}
.button{
  border-radius: 10px;
  width: 20%;
}
.button:hover{
  background-color:rgba(165, 42, 42, 0.137);
}

.card{
  height: 50px;
  width: 40%;
  margin: auto;
}

.margin{
margin: 20px;
}