body {
  background: #ecf0f1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}
header>h1{
  padding: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3em;
  color: brown;
}

.container{
  border: 2px solid black; 
  max-width: 1000px;
  margin: 100px auto 0 auto;
}

h1 {
  color: #e74c3c;
}

header{
  border-bottom: 1px solid black; 
}

header>h1{
  text-align: center;
}

main {
  padding: 10px 20px; 
}

.error{
  color: #e74c3c;
  font-family: serif;
  font-size: 20px;
}